*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/

# Un-ignore the path to debug APKs
!/build/outputs/
!/build/outputs/apk/
!/build/outputs/apk/debug/
!/build/outputs/apk/debug/*.apk
/captures
.externalNativeBuild
.cxx
local.properties
